---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleHeader from "../../components/ArticleHeader.astro";
import RenderDate from "../../components/RenderDate.astro";
import AudioPlayer from "../../components/AudioPlayer.astro";

export async function getStaticPaths() {
  const dayEnteries = await getCollection("den");
  return dayEnteries.map((entry) => ({
    params: { date: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const post = entry.data;
const { Content } = await entry.render();
---

<Layout title={`${post.dayName} - Cesta půstem`}>
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-4">{post.dayName}</h1>
    <RenderDate
      dateString={post.date}
      className="font-bold text-xl text-primary-light"
    />
    <h2 class="text-2xl font-bold mb-2 mt-8">Podcast</h2>
    <p class="text-lg italic">
      Dnešní zamyšlení si můžeš přehrát i ve formě podcastu generovaného AI.
    </p>
    <AudioPlayer audioSrc={`/audio/${post.date}.mp3`} />
    <h2 class={`text-2xl font-bold mb-2 mt-8`}>Úryvek z Bible</h2>
    <span class={`font-mono`}>({post.source})</span>
    <p class={`mt-4 tracking-wide text-lg`}>{post.bibleQuote}</p>
    <h2 class={`text-2xl font-bold mt-14 mb-2`}>Zamyšlení</h2>
    <div class="prose-lg prose-stone prose-p:my-4 dark:prose-invert">
      <Content />
    </div>
    <p class={`text-lg mt-4 text-stone-600 dark:text-stone-50`}>
      (Autor zamyšlení:{" "}
      <a href={`/autori#${post.date}`} class="underline">
        {post.author}
      </a>)
    </p>
    <h2 class={`text-2xl font-bold mt-14 mb-2`}>Vstupní modlitba</h2>
    <p class={`text-lg mb-6`}>{post.prayer}</p>
  </article>
</Layout>
