---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleHeader from "../../components/ArticleHeader.astro";
import ArticleCover from "../../components/ArticleCover.astro";
import RenderDate from "../../components/RenderDate.astro";
import AudioPlayer from "../../components/AudioPlayer.astro";

export async function getStaticPaths() {
  const dayEnteries = await getCollection("den");
  return dayEnteries.map((entry) => ({
    params: { date: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const post = entry.data;
const { Content } = await entry.render();
---

<Layout title={`${post.dayName} - Cesta půstem`}>
  <ArticleCover imgPath={post.imgPath} imgAlt={post.imgAlt} />
  <ArticleHeader />

  <article id="content" class="mx-6 max-w-[800px] text-[18px]">
    <h1 class="text-[1.8em] font-bold mb-4">{post.dayName}</h1>
    <RenderDate
      dateString={post.date}
      className="font-bold text-[1.2em] text-primary-light"
    />

    <h2 class="text-[1.4em] font-bold mb-2 mt-8 font-serif">Podcast</h2>
    <p class="italic font-serif">
      Dnešní zamyšlení si můžeš přehrát i ve formě podcastu.
    </p>
    <AudioPlayer audioSrc={`/audio/${post.date}.mp3`} />

    <h2 class="text-[1.4em] font-bold mb-2 mt-8 font-serif">Úryvek z Bible</h2>
    <span class="font-mono text-[1em]">({post.source})</span>
    <p class="mt-4 tracking-wider leading-7 font-serif italic">{post.bibleQuote}</p>

    <h2 class="text-[1.4em] font-bold mt-14 mb-2 font-serif">Zamyšlení</h2>
    <div
      class="prose prose-stone prose-p:my-4 dark:prose-invert tracking-wider leading-7 font-serif"
      id="contemplation"
    >
      <Content />
    </div>

    <p class="mt-4 text-stone-600 dark:text-stone-50 font-serif">
      (Autor zamyšlení: <a href={`/autori#${post.date}`} class="underline"
        >{post.author}</a
      >)
    </p>

    <h2 class="text-[1.4em] font-bold mt-14 mb-2 font-serif">Závěrečná modlitba</h2>
    <p class="mb-6 tracking-wider leading-7 font-serif">{post.prayer}</p>
  </article>
</Layout>