---
interface Props {
  content: string;
  target?: string;
  href?: string;
  rel?: string;
  className?: string;
  id?: string;
}

const {
  href,
  content,
  target = "_self",
  rel = "",
  className = "bg-primary-light",
  id = "",
} = Astro.props;
---

<a
  href={href}
  id={id}
  class={`${className} rounded text-white px-4 py-2 font-semibold hover:scale-110 duration-200 cursor-pointer`}
  rel={rel}
  target={target}
>
  <button title={content} class="cursor-pointer">{content}</button>
</a>
